<h1>Listing jokes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Foto</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jokes.each do |joke| %>
  <tr>
    <td><%= joke.title %></td>
    <td><img width="15" src="<%= joke.foto %>"></td>
    <td><%= joke.description %></td>
    <td><%= link_to 'Show', joke %></td>
    <td><%= link_to 'Edit', edit_joke_path(joke) %></td>
    <td><%= link_to 'Destroy', joke, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Joke', new_joke_path %>
