<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @joke.title %>
</p>

<p>
  <b>Foto:</b>
  <img src="<%= @joke.foto %>">
</p>

<p>
  <b>Description:</b>
  <%= @joke.description %>
</p>
<hr>
<h2>Comments</h2>
<% @joke.comments.each do |comment| %>
  <p>
  <b>Author:</b>  <%= comment.author %>
  </p>
  <p>
  <b>Comment:</b>  <%= comment.body %>
  </p>
  <p>
   <%= link_to 'Destroy Comment', [comment.joke, comment], :confirm => 'Are you sure?', :method => :delete %>
  </p>

<% end %>
<hr>
<h2>Add a comment:</h2>
<%= form_for([@joke, @joke.comments.build]) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_joke_path(@joke) %> |
<%= link_to 'Back', jokes_path %>
