<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @joke.title %>
</p>

<p>
  <b>Foto:</b>
  <img src="<%= @joke.foto %>">
</p>

<p>
  <b>Description:</b>
  <%= @joke.description %>
</p>


<%= link_to 'Edit', edit_joke_path(@joke) %> |
<%= link_to 'Back', jokes_path %>
